---
layout: default
---

<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

  body {
    margin: 0px;
    background: #1F2937;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto Mono', monospace;
    color: white;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 16px;
  }
 
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #32393F; 
    border-radius: 16px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3B4248; 
  }

  body > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem 11rem 5rem 11rem;
  }

  h1 {
    font-size: 1.875rem;
    margin: 0;
  }

  .blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
  }

  .blog-list > h2 {
    margin: 0;
  }

  @media (max-width: 1024px) {
    body > div {
      margin: 5rem 2.5rem 5rem 2.5rem;
    }
  }
</style>

{% include head.html %}

<div>
  <h1 class="text-accent">Blogs</h1>
  <div class="blog-list">

    {% for post in site.posts %}
    {% assign year = post.date | date: "%Y" %}
    {% if year != prev_year %}
    <h2 style="margin-top: 2rem;">{{year}}</h2>
    {% endif %}

    <div style="width: 100%;">
      <a href="{{ post.url | relative_url }}" style="display: flex; justify-content: space-between;">
        <span>{{post.title}}</span>
        <span>{{ post.date | date: '%B %d' }}</span>
      </a>
    </div>
    {% assign prev_year = year %}
    {% endfor %}

  </div>
</div>
{% include footer.html %}